.pdf .page {
  column-count: 2;
  column-fill: auto;
  column-gap: 1cm;
  column-width: 8cm;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-width: 8cm;
  -moz-column-width: 8cm;
  -webkit-column-gap: 1cm;
  -moz-column-gap: 1cm;
}

.pdf .full-width {
  column-span: all;
}

.pdf .full-width + h2:not(.full-width) {
  margin-top: 0;
}